@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Montserrat:wght@400;500;600&display=swap');

.container{
    padding: 20px;
}

img {
    width: 100px;
    height: 100px;
}