@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Montserrat:wght@400;500;600&display=swap');


body {
    margin: 0;
    font-weight: 900;
    font-family: "Cormorant Garamond", serif;
}

.loading,
.err {
    min-height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.err {
    color: #8b4d45;
}
